/* tablet ( máy tính bảng */
@media(max-width: 1023px) and (min-width: 740px) {
.search-filter__content-all   {
        display: none;
    }
.content-all  {
max-width: 100%;
}
.contetnt-all_box-element-element {
    max-width: 25%;
}
.gird-box {
    max-width: 644px;
}
.main {
    overflow: hidden;
}
.header__navbar {
    display: none;
}
.logo-search-buy {
    padding-top: 6px ;
    margin-top: 0px;
}
.header {
    height: 68px;
    position: fixed;
    width: 100%;
    z-index: 5;
}
.number_navbar {
    margin: 0px 11px;
}
.search-filter__content--footer {
    padding-bottom: 20px   ;
}
.footer__all-element-gird-box  {
    max-width: 644px;
}
.customer-care-element {
    max-width: 33.3333%;
    padding: 0px 8px;
    margin-left: -8px;
    margin-right: -8px;
    width: 100%;
    
}
.customer-care {
    display: flex;
    flex-wrap: wrap;

}
.list-help__care-responsive__tablet {
    display: flex;
    flex-wrap: wrap;
}
.customer-care-element__max-width-responsive-tablet {
    max-width: 66.66666% ;
    width: 100%;
    margin: 0px;
}
.container {
    padding-top: 86px;
}
.box_all-header-bottom-footer__all-element  {
    max-width: 644px;
}
.box-header-bottom-footer__all-element {
    font-size: 12px;
}
.link__box-header-bottom-footer__all-element {
    margin: auto;
}
.place__bottom-footer__all-element  {
    font-size: 12px;
    line-height: 1.5;
}
.search__similar-product {
width: 92%;
}
}


/* mobile */
@media (max-width: 740px) {

}

/* PC */
@media (min-width: 1024px) {
   
    }